.img .img-center {
  display: block;
  margin: auto;
}

.img {
  padding: 5px;
  background-color: white;
}

.command {
  font-family: monospace;
  font-size: 0.9em;
}

.command-br {
  font-family: monospace;
  font-size: 0.8em;
}

.desc {
  font-size: 0.7em;
}

.based {
  font-size: 0.5em;
}

div.authors {
  position: absolute;
  left: 45px;
  bottom: 45px;
}

ul.authors {
  clear: both;
  color: #666;
}

li.authors {
  display: inline-block;
}